<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ToDoList</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/todoListAlexLima/public/styles/style.css">
</head>

<body>
	<main>
		<div id="desc">ADICIONE UMA TAREFA</div>

		<form id="form">
			<input type="text" id="text" autocomplete="off">
			<button id ="btn" type="submit">Salvar</button>
		</form>

        <div class="errors">
            
			<ul>

            </ul>
        </div>

		<ul id="task-list">

		</ul>

		<p class="direito">Desenvolvido por DH</p>

	</main>
	
	<script src="/todoListAlexLima/public/js/main.js"> </script>

</body>

</html>